[Desktop Entry]
Name=Dayon! Assisted
Version=11.0
Exec=dayon.assisted
Comment=Request remote assistance
Comment[de]=Remotesupport erbitten
Comment[es]=Solicitar asistencia remota
Comment[fr]=Demander assistance à distance
Comment[ru]=Запросить удаленную помощь
Comment[tr]=Uzaktan yardım isteyin
Keywords=remote;support;get help
Icon=bin/dayon.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=RemoteAccess;Network;
