[Desktop Entry]
Name=Dayon! Assistant
Version=1.0
Exec=dayon_assistant
Comment=Offer remote assistance
Comment[de]=Remotesupport anbieten
Comment[es]=Ofrecer asistencia remota
Comment[fr]=Offrir assistance à distance
Comment[it]=Offrire assistenza remota
Comment[ru]=Предлагайте удаленную помощь
Comment[sv]=Erbjuda distanshjälp
Comment[tr]=Uzaktan yardım sunun
Comment[zh]=提供远程协助
Keywords=remote;support;offer help
Icon=dayon
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=RemoteAccess;Network;
