[Desktop Entry]
Name=Dayon! Assisted
Version=11.0
Exec=/usr/bin/dayon_assisted
Comment=Request remote assistance
Comment[de]=Remotesupport erbitten
Comment[es]=Solicitar asistencia remota
Comment[fr]=Demander assistance à distance
Comment[it]=Richiedi assistenza remota
Comment[ru]=Запросить удаленную помощь
Comment[tr]=Uzaktan yardım isteyin
Comment[zh]=请求远程协助
Keywords=remote;support;get help
Icon=dayon
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=RemoteAccess;Network;
