[Desktop Entry]
Name=Dayon! Assistant
Version=1.0
Exec=/usr/bin/dayon_assistant
Comment=Offer remote assistance
Comment[de]=Remotesupport anbieten
Comment[es]=Ofrecer asistencia remota
Comment[fr]=Offrir assistance à distance
Comment[it]=Offri assistenza remota
Comment[ru]=Предлагайте удаленную помощь
Comment[tr]=Uzaktan yardım sunun
Comment[zh]=提供远程协助
Keywords=remote;support;offer help
Icon=dayon
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=RemoteAccess;Network;
