[Desktop Entry]
Name=Dayon! Assisted
Version=1.10
Exec=/usr/local/bin/dayon_assisted.sh
Comment=Request remote assistance
Comment[de]=Remotesupport erbitten
Comment[es]=Solicitar asistencia remota
Comment[fr]=Demander assistance à distance
Comment[it]=Richiedi assistenza remota
Comment[ru]=Запросить удаленную помощь
Keywords=remote;support;get help
Icon=dayon
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=RemoteAccess;Network;
