[Desktop Entry]
Name=Dayon! Assistant
Version=1.10
Exec=/usr/local/bin/dayon/bin/dayon_assistant.sh
Comment=Offer remote assistance
Comment[de]=Remotesupport anbieten
Comment[es]=Ofrecer asistencia remota
Comment[fr]=Offrir assistance à distance
Comment[ru]=Предлагайте удаленную помощь
Icon=dayon
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=RemoteAccess;Network;
