body {
  font:12px/20px Verdana, Arial, Helvetica, sans-serif;
  text-align:center;
  padding: 0;
  margin: 0;
}

img {
  border:none;
  vertical-align: bottom;
}

#container {
  text-align:left;
  margin:0 auto;
  width:75%;
}

#top {
  height:130px;
  margin-top: 17px;
  padding-bottom:1.0em;
  background:url('dayon.png') no-repeat left;
  text-align:right;
}

#top a {
  margin-left: 10px;
  font-size:150%;
  text-decoration:none;
  color:#666;
}

#top a:hover {
  color:#307fe1;
}

#menu {
  text-align:center;
}

#menu a, #menu a:visited {
  border-left:1px solid #ccc;
  font-size:150%;
  padding:0 0.5em;
  text-decoration:none;
  color:#666;
}

#menu a:last-child {
  border-right:1px solid #ccc;
}

#menu a:hover {
  color:#307fe1;
}

#content {
  padding-top:1.0em;
}

#content ul {
  list-style-image:url('bullet.gif');
}

#content a:link, #content a:visited {
  text-decoration:none;
  color:#307fe1;
}

#content a:hover {
  color:#307fe1;
  text-decoration:underline;
}

#content h2 {
  font-size:150%;
}

#content h3 {
  font-size:125%;
}

#content h4 {
  font-size:110%;
}

#intro p {
  font-size:130%;
}

#features {
  border:1px dashed #666;
  border-radius:4px;
  background-color:#f2f7fb;
  padding:0 10px;
}

#footer {
  padding:2.0em 0;
  text-align:center;
}

.red {
  color:red;
}

pre,
code {
  font-weight:bolder;
}

.no,
.no * {
  text-decoration:none !important;
  color:#000 !important;
}

h1 {
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 0.15em;
  font-size: 3em;
  line-height: 1.4;
  transform: translateY(52%);
}

#toggle {
  display: none;
}

.hamburger {
  position: absolute;
  top: 4.8em;
  right: 5%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;
}

.hamburger div {
  position: relative;
  width: 3em;
  height: 7px;
  border-radius: 3px;
  background-color: #ccc;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #222;
  top: -100%; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}

.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}

nav {
  text-align: left;
  margin-left: 5%;
}

nav .ls a {
  margin-top: 22px;
  margin-right: 10%;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #ddd;
  font-size: 2em;
  display: inline-block;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}

nav a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: #fff;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: white;
}

nav a:hover:before {
  height: 100%;
}

#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}

#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}

#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}

@media all and (max-width:800px){
    #container {
      width:95%;
    }

    #top, #menu {
      display: none;
    }

    .hamburger {
      margin-top: -50px;
    }
}